[program:meditech2-queue-whatsapp]
process_name=%(program_name)s_%(process_num)02d
command=php /var/www/html/meditech2/artisan queue:work database --queue=whatsapp --sleep=3 --tries=3 --max-time=3600
autostart=true
autorestart=true
stopasgroup=true
killasgroup=true
user=www-data
numprocs=2
redirect_stderr=true
stdout_logfile=/var/www/html/meditech2/storage/logs/queue-whatsapp.log
stopwaitsecs=3600
